/* import font */
#react {
  height: 100%;
}
.bg {
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
}
.bg .title {
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 0;
}
.bg .text {
  font-size: 16px;
  font-weight: 100;
}
/* reload */
#canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  user-select: none;
  overflow: hidden;
  background: #272727;
}
html,
body {
  margin: 0;
  padding: 0;

  outline-width: 0;
  background: #fff;
  text-decoration-skip-ink: auto;
  line-height: 1.1;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
}
*,
*:before,
*:after {
  outline: 0;

  box-sizing: border-box;

  user-select: none;
}
*:not(input.field) {
  user-select: none;
}
input,
textarea {
  user-select: text !important;
}
a {
  color: #29828a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.login-form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.text-center {
  text-align: center;
}
